<div class="d-flex flex-column flex-shrink-0 bg-light vh-100" style="width: 100px; height: 100%">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        
        <li class="nav-item"> <a href="{% url 'user_login' %}" class="nav-link active py-3 border-bottom"> <i class="fa fa-dashboard"></i> <small>Dashboard</small> </a> </li>
        {% comment %} <li> <a href="#" class="nav-link py-3 border-bottom"> <i class="fa fa-dashboard"></i> <small>Dashboard</small> </a> </li> {% endcomment %}
        <li> <a href="{% url 'Products' %}" class="nav-link py-3 border-bottom"> <i class="fa fa-bookmark"></i> <small style="font-weight:1000">Products</small> </a> </li>
        <li> <a href="{% url 'Customers' %}" class="nav-link py-3 border-bottom"> <i class="fa fa-cog"></i> <small style="font-weight:1000">Customers Details</small> </a> </li>
        <li> <a href="{% url 'order_placed' %}" class="nav-link py-3 border-bottom"> <i class="fa fa-first-order"></i> <small style="font-weight:1000">Orders Placed</small> </a> </li>
        <li> <a href="{% url 'log_out' %}" class="nav-link py-3 border-bottom"> <i class="fa fa-sign-out" aria-hidden="true"></i> <large style="font-weight:1000">Sign Out</large> </a> </li>
    </ul>
</div>