{% extends 'app/base.html' %} {% load static %} {% block title %}Password Reset
Complete{% endblock title %} {% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h3>Password Reset Completed!!</h3>
      <hr />
      <div
        style="width: 100%; height: 0; padding-bottom: 60%; position: relative"
      >
        <iframe
          src="https://giphy.com/embed/U2O50cAkpmTjG"
          width="100%"
          height="100%"
          style="position: absolute"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen
        ></iframe>
      </div>
      <p>
        <a href="https://giphy.com/gifs/perfect-sigourney-weaver-U2O50cAkpmTjG"
          >via GIPHY</a
        >
      </p>
    </div>
  </div>
</div>
{% endblock main-content %}
